.container {
  position: relative;
  width: 100%;
  margin: 1em;
  padding: 2em 0;
}

.image {
  opacity: 1;
  display: block;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.middle .content {
  color: var(--text-color);
  font-size: 1.1em;
  padding: 0 1em;
}
.middle .tools {
  display: none;
}

.middle a {
  color: var(--contrast);
  font-weight: 700;
  font-size: 1.2em;
  text-decoration: underline;
}

@media only screen and (min-width: 1050px) {
  .middle .content {
    font-size: 0.9em;
  }
  .middle .tools {
    display: block;
    font-size: 0.8em;
  }
  .middle a {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 1049px) and (min-width: 861px) {
  .middle h2 {
    font-size: 1.1em;
  }
  .middle .content {
    font-size: 0.9em;
  }

  .middle a {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 860px) and (min-width: 800px) {
  .middle .content {
    display: none;
  }
  .middle .tools {
    display: block;
  }
}
@media only screen and (max-width: 799px) and (min-width: 640px) {
  .middle .tools {
    display: block;
  }
}

@media only screen and (min-width: 481px) and (max-width: 579px) {
  .middle h2 {
    font-size: 1.2em;
  }
  .middle .content {
    display: none;
  }

  .middle .tools {
    display: block;
  }
  .middle a {
    font-size: 1em;
  }
}

@media only screen and (max-width: 481px) {
  .middle h2 {
    font-size: 0.8em;
  }
  .middle .content {
    display: none;
  }
  .middle .tools {
    display: none;
  }
  .middle a {
    font-size: 0.5em;
  }
}
