.AboutPage .about-header {
  color: var(--contrast);
  margin-bottom: 1em;
}

.AboutPage img {
  margin: 2em;
  width: 15em;
  height: 15em;
}

.AboutPage .about-text {
  font-size: 1.5rem;
  margin: 2em 10em;
  font-weight: 300;
  letter-spacing: 0.1em;
}
