.ContactPage {
  position: absolute;
  top: 30%;
  bottom: 50%;
  left: 0;
  right: 0;
}
.ContactPage .fa-id-card {
  font-size: 1.75em;
}

.ContactPage .contact-text {
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 2em 15rem 0;
  font-size: 1.75em;
}

.links {
  margin-top: 5em;
}

.social-links {
  color: var(--contrast);
  padding: 0 2em;
  font-size: 2rem;
}
@media only screen and (max-width: 900px) {
  .ContactPage .contact-text {
    margin: 2em 4em 0;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 475px) {
  .ContactPage {
    margin: 0 1em;
  }
  .ContactPage .contact-text {
    font-size: 1.5em;
  }
  .social-links {
    display: block;
    padding: 1em 0;
    font-size: 2.5rem;
  }
}
